.rating {
    overflow: hidden;
}

.rating-inner1 {
    width: 140px;
    height: 45px;
    background: linear-gradient(to left, red , blue);
}

.rating-inner2 {
    position: relative;
    border-width: 0px 0px 45px 140px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    left: 0px;
    top: 0px;
}

.table-hover>tbody>tr:hover .rating-inner2 {
    border-left-color: #f5f5f5;
}

table#recent_plays td {
    padding: 5px;
}
