<div class="playstats well well-lg">
<p><strong>Totals Plays:</strong>
 <span class="play_count">{{play_count}}</span></p>
<p><strong>Last Played:</strong>
 <time class="played_at" datetime="{{last_played_at}}"></time></p>
<p><strong>Previously Played:</strong>
 <time class="played_at" datetime="{{previous_played_at}}"></time></p>
<p><strong>Last Week Rank:</strong>
 <span class="last_week_rank">{{last_week_rank}}</span>
<p><strong>All Time Rank:</strong>
 <span class="rank">{{rank}}</span>
</div>
